API_GATEWAY_URL=http://localhost:8085
NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:8085
KEYCLOAK_ISSUER=http://localhost:8080/realms/keycloak-realm
KEYCLOAK_CLIENT_ID=wallet-hub-web
AUTH_SECRET=replace-this-in-real-use
